@model Movie
@{
    ViewData["Title"] = "Create a Movie"; //title of add movie page changed from layout page
}
<h1>Enter Movie Information</h1>
<form method="post">
	<div class="col-md-6">
		<div class="form-control">
			<label class="control-label" asp-for="Title"></label>
			<input asp-for="Title"/>
			<span class="text-danger" asp-validation-for="Title"></span>
		</div>
		<br />
		

        <div class="form-control">
            <label class="control-label" asp-for="Genre"></label>
            <select asp-for="Genre">
                <option value=""></option>
                <option value="horror">Horror</option>
                <option value="comedy">Comedy</option>
                <option value="science_fiction">Science Fiction</option>
                <option value="drama">Drama</option>
            </select>
            <span class="text-danger" asp-validation-for="Genre"></span>
        </div>
		<br />


        <div class="form-control">
            <label class="control-label" asp-for="Director"></label>
            <input asp-for="Director" />
            <span class="text-danger" asp-validation-for="Director"></span>
        </div>
		<br />

        <div class="form">
            <label class="control-label" asp-for="Price"></label>
            <input asp-for="Price" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
		<br />

		<input class="btn btn-primary" type="submit" value="Add Movie" />
	</div>

</form>

@section Scripts{
    <!--makes validation faster-->
    <partial name="_ValidationScriptsPartial" />
}
